footer{
    position: fixed;
    width:100%;
    background-color: var(--LetrasGrandes);
    padding: 1rem;
    bottom: 0;
    left: 0;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: #00494D;
}