.inputs {
    display: flex;
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    align-items:center;
    justify-content: center;
  }

  .input-container{
    display: flex;
    background-color: var(--DentroFormulario);
    height: fit-content;
    margin-bottom: 1rem;
    justify-content: space-between;
    align-items: center;
    border: none;
    outline: none;
    padding: 0 1.5em;
    width: 100%;
    border-radius: 10px;
  }

.input-container:hover {
 border: 3px solid var(--LetrasDentroPequenas);
 outline: none;
}

.input-container:focus, .custom:focus{
border: 3px solid var(--LetrasGrandes);
outline: none;
  }

.input-container:active, .custom:active{
    border: 3px solid var(--CorLetras);
    outline: none;
  }

.placeholder-icon svg {
    width:fit-content;
    height:fit-content;
  }

  .placeholder-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: fit-content;
  }

input[type="text"]::placeholder {
    font-size: 24px;
    color: var(--iconesSVG);
    font-weight: 700;
    height: fit-content;
  }

  input[type="text"],
  textarea {
    text-align: right;
    font-size: 24px;
    color: #00494D;
    font-weight: 700;
  }
  
  .input-custom {
    position: relative;
    width:100% !important;
    height: 100% !important;
    color: var(--CorLetras);
    border: solid 2px var(--DentroFormulario);
    outline: none;
    background-color: var(--DentroFormulario);
    padding: 0;

   } 
   
   .input-custom:hover{
    border:  2px solid var(--DentroFormulario) !important;
    border-radius: 8px;
  }

  .input-custom::placeholder {
    position: absolute !important;
    height: fit-content;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%)!important;
    width: fit-content;
  }
  
 
  